.page-header{
  color: #fff;
  padding: 20px 40px;
  text-align: left;
  width: 39.6vw;
  border-radius: 0 15px 15px 0;
  margin: 25px 0;
  background: linear-gradient(to right, #2B32B2, #1488CC);
}
.page-header-dark{
background: linear-gradient(to right, #414345, #232526);
}
.page-header h1{
  font-size: 3rem;
}
.page-header p {
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: .8px;
}
h3 {
  font-size: 1.4rem;
}
.search-box{
  background-color: #fff;
  display: flex;
  flex-direction: row;
  height: 38px;
  padding: 10px;
  align-items: center;
  border-radius: 15px;
}
.search{
  width: 13vw;
  outline: none;
  border-radius: 7px;
  border: none; 
  font-size: 1rem;
 font-family: 'inter';
}
.search::placeholder{
  padding-left: 10px;
}
.search-icon{
  color: rgba(171, 171, 171, 0.826);
  font-size: 1.2rem;
}
a {
  text-decoration: none;
}

button{
  cursor: pointer;
}
.container{
  position: relative;
  width: 90vw;
  max-width: 1600px;
  margin: 0 auto;
  margin-bottom: 8%;
  row-gap: 50px;
  column-gap: 20px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  min-height: 30vh;
}


.bottom-nav{
  width: 100vw;
  position: fixed;
  bottom: 0;
  
}

.bottom-nav-icon{
  font-size: 1.4rem;
}

.profile-img{
  width: 185px;
    height: 185px;
    border-radius: 110px;
}