.page-header{
  width: 30vw;
  margin: 20px ;
}
.page-header h1{
  font-size: 3rem;
}
.search{
  height: 30px;
  width: 13vw;
  outline: none;
  border-radius: 10px;
  border: none;
  
}
.search::placeholder{
  padding-left: 10px;
}
a {
  text-decoration: none;
}
.theme{
cursor: pointer;
font-size: 1.5rem;
margin: 10px;
}
button{
  cursor: pointer;
}
.container{
  position: relative;
  width: 85vw;
  margin: 0 auto;
  margin-bottom: 7%;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  min-height: 30vh;
}

.empty-msg{
  width: 80%;
  font-size: 1.6rem;
  position: absolute;
  top: 50%;
  left: 20%;
}
.cards-icon-box{
  width: 40%;
  margin: 70px auto;
 
}
.cards-icon{
  font-size: 5rem;
}
.dots{
  font-size: 3rem;
}
.bottom-nav{
  border: 1px solid black;
  width: 100vw;
  position: fixed;
  bottom: 0;

}

.bottom-nav-icon{
  font-size: 1.4rem;
}

.steps{
  margin-left: 20px;
}
